body {
    background-color: #2e2e2e;
    color: #ffffff;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#linha1, #linha2, #linha2-dinamico {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
}

.prompt-icon {
    color: #00ff00;
    margin-right: 10px;
    transition: color 0.3s;
    font-size: 25px;
}

.blinking-cursor {
    font-size: 24px;
    color: #00ff00;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
