body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #output {
    white-space: pre;
    line-height: 1.1em;
    font-size: 10px;
    display: block;
    margin: 0 auto;
    padding: 20px;
  }